{% extends 'base.html.twig' %}

{% block title 'Temporarilyy disabled' %}

{% block body %}
    <h1>Access to this page has been temporarily disabled</h1>
    <p>The url {{ app.request.pathInfo }} is not accessible right now</p>
{% endblock %}
