<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_main_index') }}">Sensio TV+</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <twig:NavLink label="Home" target="app_main_index"></twig:NavLink>
            <twig:NavLink label="Movie" target="app_movie_index"></twig:NavLink>
            <twig:NavLink label="Book" target="app_book_index"></twig:NavLink>
            <twig:NavLink label="Contact" target="app_main_contact"></twig:NavLink>
        </ul>
    </div>
</nav>
